[Unit]
Description=Cloudflare DDNS Updater
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/ddns-cloudflare-powershell -ConfigPath /etc/ddns-cloudflare-powershell/settings.jsonc -LogNoDate

[Install]
WantedBy=multi-user.target
