[Unit]
Description=Cloudflare DDNS Updater
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/ddns-cloudflare-powershell
WorkingDirectory=/var/log/ddns-cloudflare-powershell

[Install]
WantedBy=multi-user.target
