[Unit]
Description=Update domain.name on IP change every 5 minutes
BindsTo=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device
Wants=network-online.target
After=network-online.target

[Timer]
OnActiveSec=5min
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
