[Unit]
Description=Updating domain.name on IP change
BindsTo=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=pwsh -File /path/to/ddns-cloudflare-powershell/ddns-cloudflare.ps1
WorkingDirectory=/path/to/ddns-cloudflare-powershell

[Install]
WantedBy=multi-user.target
